
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:wght@100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* bottoni */
.button{
  background-color: orange;
  text-align: center;
  color: white;
  border: 1px solid none;
  border-radius: 5px;
}

#testata{
  width: 100%;
  border-bottom: 3px solid black;
  height: 800px;
  background-color: blue;

}
/* menufisso */
.menu-fisso{
  width: 100%;
  height: 55px;
  background: #cccccc;
  border-bottom:1px solid black;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.menu-left {
  float: left;
  line-height: 25px;
}

li.button{
  float: right;
  margin:0 5px;
}

li a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 10px;
}

.fas{
  float: right;
}
/* fine menu fisso */

/* navbar */
.nav-bar{
 width: 100%;
 height: 50px;
 background: #f2f2f2;
}

.nav-{
  display: inline-block;
  width: 30%;
  height: 30px;
  margin-top: 10px;
  margin-left: 30px;
}

li{
  float: right;
}

.nav-2{
  display: inline;
}

/* #navigation{
  width: 100%;
  display: inline-block;
  margin-left: 50px;
} */

/* jumbotron */

.titolo{
  margin-left: 50px;
  margin-top: 50px;
  width: 40%;

}
/* font jumbo */
h1{
  font-family: 'Balsamiq Sans', cursive;
  font-size: 40px;
}
.p-titolo{
  font-family: 'Baloo 2', cursive;
  font-size: 20px;
}
.p-copy{
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}

.button-titolo{
  background-color: orange;
  text-align: center;
  padding: 14px 16px;
  color: white;
  border: 1px solid none;
  border-radius: 5px;
}

header{
  background-image: url("img/jumbotron.png");
  height: 694px;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}



/* parte centrale */
#centrale{
  width: 80%;
  margin: 0 9%;
}

.cubo{
  width: 100%;
  height: 300px;
  background-color: grey;
}

.libro{
  width: 100%;
  height: 500px;
  background-color: white;
}

.colonne::after{
  content: "";
  display: table;
  clear: both;
}

.colonne{
  width: 100%;
  height: 500px;
  background: grey;
}

.colonna{
  width: calc(100% / 5);
  height: 200px;
  margin-top: 5%;
  margin-left: 10%;
  background: white;
  float: left;
}

.colonna.destra{
  margin-right: 6%;
  float: right;
}

.dati{
  width: 100%;
  height: 800px;
  background: lightblue;
}

.indefinito{
  width: 100%;
  height: 800px;
  background: white;
}

.loghi{
  border: 2px solid black;
}

footer{
  width: 100%;
  height: 800px;
  background: blue;
}

footer::after{
  content: "";
  display: table;
  clear: both;
}

#box-contatti{
  width: 100%;
  height: 800px;
  position:relative;
}

.contatti{
  width: 15%;
  height: 200px;
  margin-top: 5%;
  margin-left: 8%;
  background: white;
  float: left;
}

.contatti.x{
  margin-right: 6%;
  float: right;
}

.lingue{
  width: 80%;
  height: 90px;
  position: absolute;
  bottom: 20%;
  left: 10%;
  border-bottom: 2px solid white;
}
