
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:wght@100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* bottoni */
.button{
  background-color: orange;
  text-align: center;
  color: white;
  padding: 14px 16px;
  border: 1px solid none;
  border-radius: 5px;
}

#testata{
  width: 100%;
  border-bottom: 3px solid black;
  height: 900px;
}

/* #navigation{
  width: 100%;
  display: inline-block;
  margin-left: 50px;
} */


/* menufisso */
.menu-fisso{
  width: 100%;
  height: 55px;
  background: #f5f8fa;
  border-bottom: 1px solid #f2f2f2;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.menu-left {
  float: left;
  line-height: 25px;
}

li.button{
  float: right;
  margin:0 5px;
}

li.button a{
  text-decoration: none;
  color: white;
}

li.menu-left a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 10px;
}

.fas{
  float: right;
  margin:20px;
}
/* fine menu fisso */

/* navbar */

.nav-bar{
 width: 100%;
 height: 50px;
 background: white;
}

.nav-logo{
  display: inline-block;
  width: 30%;
  height: 30px;
  margin-top: 10px;
  margin-left: 30px;
}
.nav-{
  margin-right: 80px;
}

li{
  float: right;
}

.nav-2{
  display: inline;
}

li.nav-2 a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 10px;
}


/* jumbotron */

.titolo{
  margin-left: 150px;
  width: 40%;
  height: 50%;
  transform: translateY(50%);


}
/* font jumbo */
h1{
  font-family: 'Balsamiq Sans', cursive;
  font-size: 40px;
}
.p-titolo{
  font-family: 'Baloo 2', cursive;
  font-size: 20px;
}
.p-copy{
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}

.button-titolo{
  background-color: orange;
  text-align: center;
  width: 300px;
  padding: 14px 16px;
  color: white;
  border: 1px solid none;
  border-radius: 5px;
}

header{
  background-image: url("img/jumbotron.png");
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid 	#00004d;
}



/* parte centrale */
#centro{
  width: 100%;
  background-color: #f5f8fa;
  text-align: center;
}


#centrale{
  width: 70%;
  margin: 0 13%;
}

/* cubo */

.cubo{
  width: 100%;
  height: 600px;
}

.cubo-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.cubo-h3{
  font-family: 'Balsamiq Sans', cursive;
  font-size: 30px;
  display: inline-block;
  margin-top:10px;
}

.cubo-p{
  font-family: 'Baloo 2', cursive;
  font-size: 20px;
  display: inline-block;
  margin-top:10px;

}

/* libro */
.orizz-{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 300px;
  border: 1px solid #e6ffff;
  border-radius: 5px;
  background: white;
}

.orizz-{
  content: "";
  display: table;
  clear: both;
}

.libro{
  float: left;
}

.libro-img{
  width: 80%;
  margin-top: 40px;
  margin-left: 20px;
}

.button-libro{
  background-color: orange;
  text-align: center;
  width: 300px;
  padding: 14px 16px;
  color: white;
  border: 1px solid none;
  border-radius: 5px;
  margin-left: 10px;
}

.free{
  float: left;
  width: 70%;
  margin-top: 50px;
}

.free-h3{
  font-family: 'Balsamiq Sans', cursive;
  font-size: 30px;
  margin: 10px auto;
}

.free-p{
  font-family: 'Baloo 2', cursive;
  font-size: 20px;
  height: 100px;
  width: 100%;
  display: inline-block;
  margin-top:10px;

}

ul.free{
  display: inline-block;
}

/* bottone colonna */
.button-learn{
  background-color: orange;
  text-align: center;
  width: 200px;
  padding: 14px 16px;
  color: white;
  border: 1px solid none;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* colonne */

.colonne::after{
  content: "";
  display: table;
  clear: both;
}

.colonne{
  width: 100%;
  height: 500px;
  text-align: center;
}

.colonna{
  width: 20%;
  margin-top: 3%;
  margin-left: 10%;
  background: white;
  float: left;
  border: 1px solid #e6ffff;
  border-radius: 5px;

}

.icona{
 margin-top: 40px;
}

.marketing-img{
  width: 40%;
}


.list{
  float: left;
  width: 70%;
  margin-top: 20px;
  margin-left: 30px;
}

.free-h3{
  font-family: 'Balsamiq Sans', cursive;
  font-size: 30px;
  margin: 10px auto;
}

.list-p{
  font-family: 'Baloo 2', cursive;
  font-size: 15px;
  /* height: 100px; */
  width: 100%;
  display: inline-block;
  margin-top:10px;

}

hr{
  margin: 10px 0;
}


.colonna.destra{
  margin-right: 6%;
  float: right;
}


/* sezione dati */

.dati{
  width: 100%;
  height: 800px;
  background: lightblue;
}

.indefinito{
  width: 100%;
  height: 800px;
  background: white;
}

.loghi{
  border: 2px solid black;
}

footer{
  width: 100%;
  height: 800px;
  background: blue;
}

footer::after{
  content: "";
  display: table;
  clear: both;
}

#box-contatti{
  width: 100%;
  height: 800px;
  position:relative;
}

.contatti{
  width: 15%;
  height: 200px;
  margin-top: 5%;
  margin-left: 8%;
  background: white;
  float: left;
}

.contatti.x{
  margin-right: 6%;
  float: right;
}

.lingue{
  width: 80%;
  height: 90px;
  position: absolute;
  bottom: 20%;
  left: 10%;
  border-bottom: 2px solid white;
}
